/**
 * Add any custom CSS you require in here. This will override 
 * any of the theme's default styling.
 *
 * We suggest you always keep a backup of this file so you 
 * never lose any of your edits when updating or reverting.
 */

/*#fixed-social-icons { background:transparent; width:32px; position:fixed; top:50px; left:0px; }
#fixed-social-icons a { display:block; height:32px; width:32px; }
#social-facebook { background: url('http://luluplews.com/social/facebook.png') 0 0 no-repeat; }
#social-spotify { background: url('http://luluplews.com/social/spotify.png') 0 0 no-repeat; }
#social-instagram { background: url('http://luluplews.com/social/instagram.png') 0 0 no-repeat; }
#social-linkedin { background: url('http://luluplews.com/social/linkedin.png') 0 0 no-repeat; }
#social-pinterest { background: url('http://luluplews.com/social/pinterest.png') 0 0 no-repeat; }
#social-youtube { background: url('http://luluplews.com/social/youtube.png') 0 0 no-repeat; }*/